body{
    background-color: blanchedalmond;
}

h1{
    background-color: blueviolet;
    font-size: 50px;
    color:azure;
}

.para1{
    font-family: Arial, Helvetica, sans-serif;
    color:chartreuse
}

div{
    background-color: aqua;
    display: inline;
}

span{
    background-color: cadetblue;
    display: block;
}